<div class="card-columns">
    <div class="card">
      <img src="../../assets/a1.jpg" class="card-img-top" alt="...">

    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>There is one thing the photograph must contain, the humanity of the moment.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Unknown
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img src="../../assets/a2.jpg" class="card-img-top" alt="...">

    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>In photography there is a reality so subtle that it becomes more real than reality.</p>
        <footer class="blockquote-footer text-white">
          <small>
            Unknown
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
        <div class="card">
            <img src="../../assets/background.jpg" class="card-img-top" alt="...">
      
          </div>
    </div>

    <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <p>You don't take a photograph, you make it.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Unknown
            </small>
          </footer>
        </blockquote>
      </div>

    <div class="card">
      <img src="../../assets/s3.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card p-3 text-right">
        <div class="card">
            <img src="../../assets/s4.jpg" class="card-img-top" alt="...">
      
          </div>
    </div>
    <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <p>Photography is an austere and blazing poetry of the real.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Unknown
            </small>
          </footer>
        </blockquote>
      </div>