<div class="card mysec">
    <img src="../../assets/new.jpg">
    <!-- <div class="centered">Centered</div> -->
    <div class="card-img-overlay text-center mytext text-white">
        <p class="card-title mytext">&#8220;In photography there is a reality so subtle that it becomes more real than reality&#8220;</p>
        
        <a class="button-17" routerLink="contactus" role="button">Contact me</a>
      </div>
  </div>
  <app-services-section></app-services-section>
<app-testimony></app-testimony>