
<header>
	<div>
		<h1>Our Services</h1>

	</div>
</header>
<main>
	<ul id="cards">
		<li class="card" id="card_1">
			<div class="card__content">
				<div>
					<h2>Landscape photography</h2>
					<p>&quot;Landscape photography shows the spaces within the world, sometimes vast and unending, but other times microscopic.&quot;</p>
					<p><a href="#top" class="btn btn--accent">Read more</a></p>
				</div>
				<figure>
					<img src="../../assets/p1.jpg" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="card" id="card_2">
			<div class="card__content">
				<div>
					<h2>Event photography</h2>
					<p>&quot;Snapping high-quality images during a wide variety of important occasions, from personal events like weddings or birthday parties to large public gatherings like corporate events, galas, award ceremonies and music festivals.&quot;</p>
					<p><a href="#top" class="btn btn--accent">Read more</a></p>
				</div>
				<figure>
					<img src="../../assets/p2.jpg" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="card" id="card_3">
			<div class="card__content">
				<div>
					<h2>Portrait Photography</h2>
					<p> &quot;Portrait photography, or portraiture, is a type of photography aimed toward capturing the personality of a person or group of people by using effective lighting, backdrops, and poses.&quot;</p>
					<p><a href="#top" class="btn btn--accent">Read more</a></p>
				</div>
				<figure>
					<img src="../../assets/p3.jpg" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="card" id="card_4">
			<div class="card__content">
				<div>
					<h2>Photo editing</h2>
					<p>&quot;Edit photos and add photo effects, frames, text, & more!&quot;
                    </p>
                    <p><a href="#top" class="btn btn--accent">Read more</a></p>
				</div>
				<figure>
					<img src="../../assets/p4.jpg" alt="Image description">
				</figure>
			</div>
		</li>
	</ul>
</main>
<aside>
    <p class="blank">There is one thing the photograph must contain, the humanity of the moment.</p>
</aside> 